.About {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3vw;
}

.Text {
  color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 4vw;
    text-align: left;
    padding: 10px;
  }
  .Paragraph {
    font-size: 1.1vw;
    text-align: left;
    padding: 10px;
  }
}