.About {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4vw 3vw 2vw;
  .Text {
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 4vw;
      text-align: left;
      padding: 10px;
      animation: 1.5s fadeInDown;
    }
    .Paragraph {
      font-size: 1.1vw;
      text-align: left;
      padding: 10px;
    }
  }
}

.ResumeButton {
  width: 20%;
  margin: 1%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .About {
    flex-direction: column;
    height: auto;
    padding: 6vw 4vw;

    .Text {
      width: 100%;

      h1 {
        font-size: 8vw;
        text-align: center;
        padding-top: 4rem;
      }

      .Paragraph {
        font-size: 4vw;
        text-align: center;
        padding: 6px;
      }
    }
  }

  .ResumeButton {
    width: 90%;
    margin: 4% auto;
    display: block;
  }
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}