.Projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4vw 3vw 2vw;

  .Text {
    color: white;
    width: 60%;
    height: 20vh;

    h1 {
      font-size: 4vw;
      text-align: center;
      padding: 10px;
      animation: 1.5s;
    }

    .Paragraph {
      font-size: 1.3vw;
      text-align: center;
      padding: 10px;
    }
  }

  .Tiles {
    display: flex;
    flex-direction: row;
    height: 70vh;
    gap: 2vw;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 0;

    .Tile {
      flex: 0 0 23.3%;
      max-width: 23.3%;
      height: 95%;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: translateY(-20px);
      }
    }
  }
}

.Tiles::-webkit-scrollbar {
  height: 10px;

}

.Tiles::-webkit-scrollbar-track {
  background: transparent;
}

.Tiles::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}