.Navbar {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 3vw;
    margin-right: 3vw;
    gap: 20px;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .nav-wrapper {
        flex-direction: row;
        padding: 10px 20px;
    }

    .Navbar {
        padding: 10px 0;
    }
}

@media (max-width: 768px) {
    .Navbar .navbar-collapse {
        background: rgba(0, 0, 0, 0.95);
        padding: 1rem;
        border-radius: 8px;
        margin-top: 10px;
    }
}

