#app {
  align-content: center;
  background-image: linear-gradient(to bottom right, #169bee, #2fde2f);
}

div.textBox {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.8;
  width: 40vw;
}

div.textBox p {
  margin: 10px;
  color: #000000;
  font-weight: 00;
}

h1 {
  margin-left: 30px;
}