/* Override the default link color */
.navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

nav {
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding-left: 20px;
}